.depoimentos {
	padding-top: 7rem;
	&__wrapper {
		background-repeat: no-repeat;
		background-position: center 30%;
		background-size: cover;
		background-attachment: fixed;
		min-width: 100%;
		min-height: 45rem;
	}
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000000eb;
		z-index: 1;
	}
	&__foto {
		z-index: 3;
		position: absolute;
		top: -28%;
		left: 0;
		right: 0;
		margin: auto;
		border-radius: 999px;
		width: 25rem;
		border: solid var(--pec-blue-light) 0.7rem;
		transition: all 0.3s;
		&--border {
			z-index: 2;
			position: absolute;
			top: -31%;
			left: 0;
			right: 0;
			margin: auto;
			border-radius: 999px;
			width: 27rem;
			height: 27rem;
			background-color: #08061c;
			transition: all 0.3s;
		}
		&:hover {
			top: -36%;
			width: 30rem;
		}
	}
	&__inner-wrapper {
		z-index: 5;
		width: 50%;
		margin: auto;
		position: absolute;
		top: 33%;
		left: 0;
		right: 0;
	}
}

.slider {
	height: 100%;
	position: relative;
	/*  overflow-x: hidden;
    overflow-y: visible; */
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: white;
}
.slider__nav {
	width: 16px;
	height: 16px;
	margin: 0 12px 10% 12px;
	border-radius: 50%;
	z-index: 10;
	/* outline: 6px solid var(--primaryColor);
    outline-offset: -6px; */
	box-shadow: 0 0 6px 0 var(--secondaryColor), 0 0 6px 0 rgba(51, 51, 51, 0);
	background-color: var(--secondaryColor);
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.slider__nav:checked {
	-webkit-animation: check 0.4s linear forwards;
	animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner_manufacturing {
	left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner_manufacturing {
	left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner_manufacturing {
	left: -200%;
}
.texto_manufacturing > .slider > .slider__inner_manufacturing {
	width: 300%;
}
.slider__inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 300%;
	height: 100%;
	-webkit-transition: left 0.4s;
	transition: left 0.4s;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
}
.slider__contents {
	height: 100%;
	padding: 2rem;
	text-align: left;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-align: start;
	-webkit-align-items: start;
	-ms-flex-align: start;
	align-items: start;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.slider__image {
	font-size: 2vw;
	color: #2196f3;
}
.slider__caption {
	font-weight: 500;
	margin: 2rem 0 1rem;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
}
.slider__txt {
	color: rgb(56, 56, 56);
	margin-bottom: 3rem;
	max-width: 100%;
	font-size: 1.4vw;
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.9px;
	max-width: 70%;
}

@-webkit-keyframes check {
	50% {
		outline-color: var(--pec-blue-light);
		background-color: var(--pec-blue-light);
		box-shadow: 0 0 0 12px var(--pec-blue-light),
			0 0 0 36px rgba(51, 51, 51, 0.2);
	}
	100% {
		outline-color: var(--pec-blue-light);
		background-color: var(--pec-blue-light);
		box-shadow: 0 0 0 0 var(--pec-blue-light), 0 0 0 0 rgba(51, 51, 51, 0);
	}
}

@keyframes check {
	50% {
		outline-color: var(--pec-blue-light);
		background-color: var(--pec-blue-light);
		box-shadow: 0 0 0 12px var(--pec-blue-light),
			0 0 0 36px rgba(51, 51, 51, 0.2);
	}
	100% {
		outline-color: var(--pec-blue-light);
		background-color: var(--pec-blue-light);
		box-shadow: 0 0 0 0 var(--pec-blue-light), 0 0 0 0 rgba(51, 51, 51, 0);
	}
}

.radio-depoimentos {
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	margin: auto;
	background: white;
}
.radio-depoimentos:nth-of-type(1) {
	right: +6%;
}
.radio-depoimentos:nth-of-type(3) {
	left: +6%;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner_depoimentos {
	left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner_depoimentos {
	left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner_depoimentos {
	left: -200%;
}
.texto_depoimentos > .slider > .slider__inner_depoimentos {
	width: 300%;
}

@media (max-width: 600px) {
	.depoimentos__wrapper {
		min-height: 66rem;
	}
	.depoimentos__inner-wrapper {
		width: 80%;
		top: 26%;
	}
	.depoimentos__foto {
		top: -12%;
		width: 21rem;
	}
	.radio-depoimentos:nth-of-type(1) {
		right: +15%;
	}
	.radio-depoimentos:nth-of-type(3) {
		left: +15%;
	}
}
