.instrutores {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60rem;

    &__wrapper{
      min-height: 60rem;
    }
    .slider{
      background-color: transparent;
    }

    .radio-instrutores{
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        margin: auto;
        background: white;
    }
    &__slide--wrapper{
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    &__slide--content-wrapper{
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      min-height: 60rem;
      padding: 12rem 21rem;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 1500px;
    }
    .radio-instrutores:nth-of-type(1){
        right: +3%;
    }
    .radio-instrutores:nth-of-type(2){
        left: +3%;
    }
    .slider__nav:checked:nth-of-type(1) ~ .slider__inner_instrutores {
      left: 0%;
    }
    .slider__nav:checked:nth-of-type(2) ~ .slider__inner_instrutores {
      left: -100%;
    }

    .texto_instrutores > .slider > .slider__inner_instrutores {
      width: 200%;
    }
}

.instrutores-page{
  background-color: #08061c;
}
@media (max-width: 1300px) {
  .instrutores__slide--content-wrapper {
    padding: 12rem 12rem;
  }
}
@media (max-width: 1133px) {
  .instrutores__slide--content-wrapper {
    padding: 15rem 12rem;
  }
}
@media (max-width: 600px) {
    .instrutores__slide {
      padding: 0;
    }
    .instrutores__slide--content-wrapper {
      padding: 3rem 3.3rem;
      max-width: 1500px;
      max-height: 500px;
      min-height: 186px;
      background-size: 90%;
      .btn-wk {
        font-size: 0.8rem;
      }
    }
    .instrutores {
      &__wrapper{
        min-height: 30rem;
      }
      min-height: 30rem;
    }
    .radio-instrutores:nth-of-type(1){
      right: +6%;
    }
    .radio-instrutores:nth-of-type(2){
      left: +6%;
    }
    .instrutores__slide--wrapper.instrutores-page{
      width: 100%;
      .instrutores__slide--content-wrapper{
        width: 100%;
        padding: 3.5rem 3.3rem;
        .instrutores__slide--content{
          font-size: 0.5rem;
        }
      }
    }
}