.instrutores {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60rem;

    &__wrapper{
      min-height: 60rem;
    }
    .slider{
      background-color: transparent;
    }

    .radio-instrutores{
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        margin: auto;
        background: white;
    }
    &__slide--wrapper{
        /* min-height: 60rem; */
       /*  background-color: rgba(0, 0, 0, 0.331); */
    }
    &__slide--content-wrapper{
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      min-height: 60rem;
      padding: 12rem 21rem;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      justify-content: space-between;
      align-items: flex-start;
    }
    .radio-instrutores:nth-of-type(1){
        right: +3%;
    }
    .radio-instrutores:nth-of-type(2){
        left: +3%;
    }
    .slider__nav:checked:nth-of-type(1) ~ .slider__inner_instrutores {
      left: 0%;
    }
    .slider__nav:checked:nth-of-type(2) ~ .slider__inner_instrutores {
      left: -100%;
    }

    .texto_instrutores > .slider > .slider__inner_instrutores {
      width: 200%;
    }
}

.instrutores-page{
  background-color: #08061c;
}